<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>OSM TEST</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
</head>

<body>
    <style>
        html,
        body {
            width: 100%;
            height: 100%;
        }

        #map {
            width: 100%;
            height: 94%;
        }

        a,
        button {
            font-family: "Microsoft JhengHei";
        }
    </style>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">圖書館開放資料整合系統</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        縣市圖書館
                    </a>
                    <div id="citys" class="dropdown-menu" aria-labelledby="navbarDropdown">
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link dropdown">
                        ｜
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        縣市學校
                    </a>
                    <div id="schools" class=" dropdown-menu" aria-labelledby="navbarDropdown">
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        學校等級
                    </a>
                    <div id="schoolLevel" class=" dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">
                            <input class="form-check-input" type="checkbox" name="schoolLevelCheck" value="國小"
                                onclick="showNormalschool()">
                            <label class="form-check-label" for="schoolLevelCheck">國小</label>
                        </a>
                        <a class="dropdown-item" href="#">
                            <input class="form-check-input" type="checkbox" name="schoolLevelCheck" value="國中"
                                onclick="showNormalschool()">
                            <label class="form-check-label" for="schoolLevelCheck">國中</label>
                        </a>
                        <a class="dropdown-item" href="#">
                            <input class="form-check-input" type="checkbox" name="schoolLevelCheck" value="高中職"
                                onclick="showNormalschool()">
                            <label class="form-check-label" for="schoolLevelCheck">高中</label>
                        </a>
                        <a class="dropdown-item" href="#">
                            <input class="form-check-input" type="checkbox" name="schoolLevelCheck" value="大學"
                                onclick="showNormalschool()" CHECKED>
                            <label class="form-check-label" for="schoolLevelCheck">大專院校</label>
                        </a>
                    </div>
                </li>
            </ul>
            <!--
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            -->
        </div>
    </nav>
    <div id="map"></div>
    <!--這邊要定義map啦-->
    <script>
        //定義MAP
        let map;
        map = L.map('map').setView([23.546162, 120.6402133], 8);
        //加入圖層
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '<a href="https://www.openstreetmap.org/">OSM</a>',
            maxZoom: 18,
        }).addTo(map);
    </script>
    <!--這邊給圖書館用的＝＝-->
    <script>
        let libMarkers = {};
        let idd = 0;
        function libaryMarker(sourceMap, data, action) {
            if (action == 3) {
                let locate = [data["緯度"], data["經度"]];
                let marker = new L.marker(locate, {
                    icon: L.icon({
                        iconUrl: "{{url_for('static', filename='images/libarys.png')}}",
                    }),
                    fileNo: idd,
                    type: "libary",
                });
                idd++;
                libMarkers[data["圖書館名稱"]] = marker;
                //新增MARKER觸發
                libMarkers[data["圖書館名稱"]].on('click', function () {
                    Swal.mixin({
                        width: 600,
                        padding: '3em',
                        background: '#fff url(https://sweetalert2.github.io/images/trees.png)',
                        showCancelButton: true,
                        progressSteps: ['C'],
                        backdrop: `
                                    rgba(0,0,123,0.4)
                                    center
                                    no-repeat
                                `
                    }).queue([
                        {
                            title: data["圖書館名稱"],
                            text: data["簡介"],
                        }
                    ])
                });
            }
            if (action == 1) {
                console.log('test');
                sourceMap.addLayer(libMarkers[data["圖書館名稱"]]);
            } else if (action == 0) {
                sourceMap.removeLayer(libMarkers[data["圖書館名稱"]]);
            } else {

            }

        }
        function specialLibaryMarker(sourceMap, data, action) {

            if (action == 3) {
                if (data.latitude == undefined) {
                    data.latitude = "23.546162";
                    data.name += data.name + '沒有正確座標';
                }
                if (data.longitude == undefined) {
                    data.longitude = "120.6402133";
                }
                
                let locate = [data.latitude, data.longitude];
                
                let marker = L.marker(locate, {
                    icon: L.icon({
                        iconUrl: "{{url_for('static', filename='images/special.png')}}",
                    }),
                    fileNo: idd,
                    type: "specailLibary",
                    zIndexOffset: 1000
                });
                console.log(locate,data,marker);
                idd++;
                libMarkers[data.name + 'special'] = marker;
                libMarkers[data.name + 'special'].on('click', function () {
                    Swal.mixin({
                        width: 600,
                        padding: '3em',
                        background: '#fff url(https://sweetalert2.github.io/images/trees.png)',
                        showCancelButton: true,
                        progressSteps: ['C'],
                        backdrop: `
                                    rgba(0,0,123,0.4)
                                    url(` + data.representImage + `)
                                    center
                                    no-repeat
                                `
                    }).queue([
                        {
                            title: data.name,
                            text: data.intro,
                        }
                    ])
                });

            }
            if (action == 1) {
                sourceMap.addLayer(libMarkers[data.name + 'special']);
            } else if (action == 0) {
                sourceMap.removeLayer(libMarkers[data.name + 'special']);
            } else {
            }

        }

        //我要開始執行了喔
        let libaryDatas = {};
        let libCityWord = "";
        //看普通圖書館
        function showNormalLibary() {
            libCityWord = "";
            $('input:checkbox:checked[name="libaryCityCheck"]').each(
                function () {
                    libCityWord += this.value + ",";
                }
            );
            for (let libIndex = 0; libIndex < libaryDatas.data.length; libIndex++) {
                if (libCityWord.indexOf(libaryDatas.data[libIndex]["縣市別"]) > -1) {
                    for (let lbIndex = 0; lbIndex < libaryDatas.data[libIndex].publicLibary.length; lbIndex++) {
                        libaryMarker(map, libaryDatas.data[libIndex].publicLibary[lbIndex], 1);
                    }
                } else {
                    for (let lbIndex = 0; lbIndex < libaryDatas.data[libIndex].publicLibary.length; lbIndex++) {
                        libaryMarker(map, libaryDatas.data[libIndex].publicLibary[lbIndex], 0);
                    }
                }
                /*
                if (libCityWord.indexOf(libaryDatas.data[libIndex]["縣市別"]) > -1) {
                    for (let lbIndex = 0; lbIndex < libaryDatas.data[libIndex].specialLibary.length; lbIndex++) {
                        libaryMarker(map, libaryDatas.data[libIndex].specialLibary[lbIndex], 1);
                    }
                } else {
                    for (let lbIndex = 0; lbIndex < libaryDatas.data[libIndex].specialLibary.length; lbIndex++) {
                        libaryMarker(map, libaryDatas.data[libIndex].specialLibary[lbIndex], 0);
                    }
                }
                */
            }
            /*ibaryDatas.data.map(lbs => {
                if (libCityWord.indexOf(lbs["縣市別"]) > -1) {
 
                    lbs.publicLibary.map(
                        lb => {
                            libaryMarker(map, lb, 1);
                        }
                    )
                    lbs.specialLibary.map(
                        lb => {
                            specialLibaryMarker(map, lb, 1);
                        }
                    )
 
                } else {
                    lbs.publicLibary.map(
                        lb => {
                            libaryMarker(map, lb, 0);
                        }
                    )
                    lbs.specialLibary.map(
                        lb => {
                            specialLibaryMarker(map, lb, 0);
                        }
                    )
                }
            });*/
        }
        $.getJSON('/getLibary', function (apiData) {
            console.log(apiData.status);
            libaryDatas = apiData;
            let water = {};
            apiData.data.map(
                d => {
                    let city = d["縣市別"];

                    if (!(city == "2019-全國")) {
                        $("#citys").append(`
                        <a class="dropdown-item" href="#">
                            <input class="form-check-input" type="checkbox" name="libaryCityCheck" value="`+ city + `" onclick="showNormalLibary()">
                            <label class="form-check-label" for="libaryCityCheck">` + city + `</label>
                        </a>
                    `);
                        d.publicLibary.map(
                            lb => {
                                libaryMarker(map, lb, 3);
                            }
                        )

                        try {
                            d.specialLibary.map(
                                lb => {
                                    specialLibaryMarker(map, lb, 3);
                                }
                            )
                        } catch{

                        }
                    }
                }
            )
        });
    </script>
    <!--這邊是要給顯示學校用的-->
    /*
    <script>
        let schoolMarkers = {};
        function schoolMarker(sourceMap, data, action) {
            if (action == 3) {
                zIndexOffset = 0;
                let locate = [data["地址"].advance.locate.lat, data["地址"].advance.locate.lng];
                if (data.level == "大學") {
                    iconUrl = "{{url_for('static', filename='images/university.png')}}";
                    zIndexOffset = 995;
                } else if (data.level == "高中職") {
                    iconUrl = "{{url_for('static', filename='images/hischool.png')}}";
                    zIndexOffset = 994;
                } else if (data.level == "國中") {
                    if (data.isLoseResource) {
                        iconUrl = "{{url_for('static', filename='images/noResource.png')}}";
                        zIndexOffset = 1000;
                    } else {
                        iconUrl = "{{url_for('static', filename='images/juschool.png')}}";
                        zIndexOffset = 993;
                    }
                } else if (data.level == "國小") {
                    if (data.isLoseResource) {
                        iconUrl = "{{url_for('static', filename='images/noResource.png')}}";
                        zIndexOffset = 1000;
                    } else {
                        iconUrl = "{{url_for('static', filename='images/elschool.png')}}";
                        zIndexOffset = 992;
                    }
                }
                let marker = L.marker(locate, {
                    icon: L.icon({
                        iconUrl: iconUrl,
                    }),
                    fileNo: data["學校名稱"],
                    type: "school",
                    zIndexOffset: zIndexOffset
                });
                schoolMarkers[data["學校名稱"]] = marker;
            }
            if (action == 1) {
                sourceMap.addLayer(schoolMarkers[data["學校名稱"]]);
            } else if (action == 0) {
                sourceMap.removeLayer(schoolMarkers[data["學校名稱"]]);
            } else {
                //新增MARKER觸發
                let r = "";
                if (data.isLoseResource) {
                    r = "這所學校是屬於" + data["地區屬性"] + "的學校！他們缺資源！"
                }
                schoolMarkers[data["學校名稱"]].on('click', function () {
                    Swal.mixin({
                        width: 600,
                        padding: '3em',
                        background: '#fff url(https://sweetalert2.github.io/images/trees.png)',
                        showCancelButton: true,
                        progressSteps: ['C'],
                    }).queue([
                        {
                            title: data["學校名稱"],
                            text: r + data["網址"],
                        }
                    ])
                });
            }

        }
        let schoolDatas = {};
        let schoolCityWord = "";
        let schoolLevelWord = "";
        //看普通學校
        function showNormalschool() {
            schoolCityWord = "";
            schoolLevelWord = "";
            $('input:checkbox:checked[name="schoolCityCheck"]').each(
                function () {
                    schoolCityWord += this.value + ",";
                }
            );
            $('input:checkbox:checked[name="schoolLevelCheck"]').each(
                function () {
                    schoolLevelWord += this.value + ",";
                }
            );
            schoolDatas.data.map(lbs => {
                if (schoolCityWord.indexOf(lbs["地址"].advance.locate.baddr2) > -1 && schoolLevelWord.indexOf(lbs["level"]) > -1) {
                    schoolMarker(map, lbs, 1);
                } else {
                    schoolMarker(map, lbs, 0);
                }
            });
        }
        $.getJSON('/getSchools', function (apiData) {
            console.log(apiData.status);
            schoolDatas = apiData;
            let water = {};
            cityTmp = "";
            apiData.data.map(
                d => {
                    let city = d["地址"].advance.locate.baddr2;
                    if (cityTmp.indexOf(city) == -1) {
                        $("#schools").append(`
                        <a class="dropdown-item" href="#">
                            <input class="form-check-input" type="checkbox" name="schoolCityCheck" value="`+ city + `" onclick="showNormalschool()">
                            <label class="form-check-label" for="schoolCityCheck">` + city + `</label>
                        </a>
                    `);
                    }
                    cityTmp += city + ",";
                    schoolMarker(map, d, 3);
                }
            )
        });

    </script>*/
</body>

</html>